.theme-dark {
  --background-primary: #151312;
  --background-primary-alt: #242120;
  --background-secondary: #242120;
  --background-secondary-alt: #312d2b;
  --background-modifier-border: #3c3836;
  --background-modifier-border-hover: #524e4c;
  --background-modifier-form-field: #242120;
  --background-modifier-hover: #312d2b;
  --background-modifier-active-hover: #312d2b;
  --background-modifier-success: #75ad2f;
  --background-modifier-error: #ec6785;
  --background-modifier-error-hover: #ec6785;
  --background-modifier-cover: #151312;
  --text-normal: #faf6f5;
  --text-muted: #999593;
  --text-faint: #696463;
  --text-error: #ec6785;
  --text-success: #75ad2f;
  --text-warning: #bb9500;
  --text-accent: #ea7332;
  --text-accent-hover: #f88b54;
  --text-on-accent: #151312;
  --text-selection: #312d2b;
  --text-highlight-bg: #bb950040;
  --interactive-normal: #242120;
  --interactive-hover: #312d2b;
  --interactive-accent: #ea7332;
  --interactive-accent-hover: #f88b54;
  --interactive-success: #75ad2f;
  --ribbon-background: #242120;
  --ribbon-background-collapsed: #242120;
  --titlebar-background: #151312;
  --titlebar-text-color: #faf6f5;
  --nav-item-background-active: #312d2b;
  --nav-item-color-active: #faf6f5;
  --divider-color: #3c3836;
  --code-normal: #faf6f5;
  --code-background: #242120;
  --link-color: #2aa0f9;
  --link-color-hover: #2aa0f9;
  --bold-color: #faf6f5;
  --italic-color: #faf6f5;
  --blockquote-border-color: #524e4c;
  --tag-color: #00aebd;
  --tag-background: #242120;
  --table-header-background: #242120;
  --table-row-alt-background: #242120;
  --table-border-color: #3c3836;
  --checkbox-color: #ea7332;
  --checkbox-color-hover: #f88b54;
  --checklist-done-color: #999593;
}

.theme-light {
  --background-primary: #faf6f5;
  --background-primary-alt: #f0edec;
  --background-secondary: #f0edec;
  --background-secondary-alt: #e4e0de;
  --background-modifier-border: #cdc9c7;
  --background-modifier-border-hover: #b4afad;
  --background-modifier-form-field: #f0edec;
  --background-modifier-hover: #e4e0de;
  --background-modifier-active-hover: #e4e0de;
  --background-modifier-success: #568413;
  --background-modifier-error: #b84963;
  --background-modifier-error-hover: #b84963;
  --background-modifier-cover: #faf6f5;
  --text-normal: #242120;
  --text-muted: #807c7a;
  --text-faint: #999593;
  --text-error: #b84963;
  --text-success: #568413;
  --text-warning: #8e7100;
  --text-accent: #b65318;
  --text-accent-hover: #924417;
  --text-on-accent: #faf6f5;
  --text-selection: #e4e0de;
  --text-highlight-bg: #8e710040;
  --interactive-normal: #f0edec;
  --interactive-hover: #e4e0de;
  --interactive-accent: #b65318;
  --interactive-accent-hover: #924417;
  --interactive-success: #568413;
  --ribbon-background: #f0edec;
  --ribbon-background-collapsed: #f0edec;
  --titlebar-background: #faf6f5;
  --titlebar-text-color: #242120;
  --nav-item-background-active: #e4e0de;
  --nav-item-color-active: #242120;
  --divider-color: #cdc9c7;
  --code-normal: #242120;
  --code-background: #f0edec;
  --link-color: #0979c4;
  --link-color-hover: #0979c4;
  --bold-color: #242120;
  --italic-color: #242120;
  --blockquote-border-color: #b4afad;
  --tag-color: #008490;
  --tag-background: #f0edec;
  --table-header-background: #f0edec;
  --table-row-alt-background: #f0edec;
  --table-border-color: #cdc9c7;
  --checkbox-color: #b65318;
  --checkbox-color-hover: #924417;
  --checklist-done-color: #807c7a;
}
